*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  @keyframes showRight{
    100%{
        width: 0;
    }
  }
  
  :root{
    --text-white: #ededed;
    --dark-bg: #081b29;
    --light-blue:#00abf0;
    --blue:#00b7ff;
    --blue-dark:#165d79;
    --blue-text:#00abf0;
    --light-bg:#0e3c5e;
    --light:#ededed;
  }
  
  body{
    color: var(--text-white);
    background-color: var(--dark-bg);
  }
  
  /* Home */
  .container-home{
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 55;
  }
  .logo{
    position: relative;
    font-size: 25px;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 700;
  }
  .logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-bg);
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
  }
  
  .navbar a{
    font-size: 18px;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
  }
  
  .navbar a:hover , 
  .navbar .active {
    color: var(--light-blue);
  }
  .navbar .toggle_btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
  }
  .navbar .toggle_btn:hover{
    color: var(--light-blue);
  }
  
  /* DropDown list */
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    padding: 10px 0;
    background-color: var(--light-bg);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 68;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .open{
    display: block;
  }
  .dropdown_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dropdown_menu ul li{
    padding: 0.7rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown_menu ul li a{
    text-decoration: none;
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid var(--light-bg);
  }
  .dropdown_menu ul li a:hover{
    border-bottom: 3px solid var(--blue-text);
  }
  .toggle_btn i,
  .hide{
    display: none ;
  }
  
  /* Footer */
  
  footer .container-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-bg);
    height: 80px;
  }
  footer .logo-footer,
  footer .links,
  footer p{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
  }
  .logo-footer{
    position: relative;
    font-size: 25px;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 700;
  }
  .logo-footer::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--light-bg);
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
  }
  footer .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer a,
  footer p{
    margin: 0px 15px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    transform: 0.4s;
    text-decoration: none;
  }
  footer a:hover{
    color: var(--blue-text);
  }
  footer p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  footer p i {
    margin-right: 15px;
    color: var(--blue-text);
    font-size: 20px;
    line-height: 30px;
  }
  

  /* Resposiveness */


  

/* NavBar */
@media (max-width: 1019px) {
  #active{
      border-bottom: 3px solid var(--blue-text);
  }
  .navbar a {
      display: none;
  }

  .toggle_btn i{
      display: block;
  }

  .mobile-img{
      display: block;
      display: flex;
      justify-content: center;
  }
  .home{
      background-image: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
  }
  .home .home-content{
      width: 90%;
      height: auto;
      margin: 0 5%;
  }
  .home .home-content h1{
      font-size: 38px;
  }
  .home .home-content h3{
      font-size: 22px;
  }
  .home-content .btn-box{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100px;
      width: 100%;
  }
  .home-content .btn-box a{
      position: relative;
      padding: 15px 0;
      font-size: 16px;
      margin-top: 5px;
  }
  .home-imgHover{
      display: none;
      margin: 0;
      height: 320px;
      width: 100%;
      border: 2px solid white;
  }
  .home-sci{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  }
}
@media (max-width: 589px){
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }
}



/* Project & Footer */
@media (max-width: 969px) {
  .container-project{
      margin: 0 30px;
  }
  .project .img-container {
      padding: 0px;
  }

  .project .img-container img {
      width: 100%;
      height: 100%;
  }
}


@media (max-width: 660px) {
  .projects-wrapper .project {
      flex: 0 0 100%;
      max-width: 100%;
  }

  footer .container-f {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }

  footer .container-f a{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer .logo,
  footer .links,
  footer p {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
  }

  footer p {
      margin-bottom: 0px;
  }
  .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}


@media (max-width: 550px) {
  section {
      padding: 50px 0px !important;
  }

  .projects .title {
      flex-wrap: wrap;
  }

  .project .title .btn {
      max-width: 100px;
      font-size: 16px;
      line-height: 24px;
      height: 40px;
      margin-bottom: 20px;
  }

  .projects .title h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
  }
}